button.loading {
    cursor: not-allowed;
    background-color: #A20D3B;
}

button.loading > .load-circle {
    border: 3px solid #B2B2B2; /* grey */
    border-top: 3px solid #A20D3B;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.history {
    width: auto;
    margin-left: 100px!important;
    margin-right: 100px!important;
}

.history .column pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.history .table_options {
    text-align: left;
}