<app-order-modals></app-order-modals>
<app-shopping-list-modals></app-shopping-list-modals>
<app-user-modals></app-user-modals>
<app-product-modals></app-product-modals>
<app-shopping-location-modals></app-shopping-location-modals>
<app-transaction-modals></app-transaction-modals>
<ng-container *ngIf="currentUser">
    <div class="mod_header">
        <div class="mod_logo">
            <h1 class="show-for-semi-large">4_znueni</h1>
            <h1 class="show-for-small hide-for-semi-large var_small">4</h1>
        </div>
        <div class="header_inner">
            <h2>{{ currentPageTitle }}</h2>
            <div class="header_icons">
                <i class="material-icons" data-open="modal_create_order">add_circle_outline</i>
            </div>
        </div>
    </div>
    <!-- CONTENT ELEMENT 'Header' end -->

    <!-- CONTENT ELEMENT 'Header' -->
    <div class="mod_header var_mobile">
        <div class="mod_logo">
            <h1>4_znueni</h1>
        </div>
        <i class="material-icons open-mobile-nav">menu</i>
        <i class="material-icons close-mobile-nav is-hidden">close</i>
    </div>
    <!-- CONTENT ELEMENT 'Header' end -->

    <div class="mod_mobile-navigation is-hidden">
        <div class="mobile-navigation_section main">
            <ng-container *ngTemplateOutlet="navigation"></ng-container>
        </div>
    </div>

    <div class="mod_quicknav">
        <div class="quicknav_info">
            {{ currentUser.firstName }} {{ currentUser.lastName }} (<a href="/login" onClick="localStorage.removeItem('data');">logout</a>)
        </div>
        <div class="quicknav_icons">
            <i class="material-icons" data-open="modal_create_order">add_circle_outline</i>
        </div>
    </div>
    <div class="innerWrap">
        <div class="dashboard">
            <div class="mod_navigation">
                <div class="navigation_section profile">
                    <div class="navigation_section_profile-image">
                        <img src="assets/img/dummy/male.jpg" alt="Profile image">
                    </div>
                    <div class="navigation_section_profile-description">
                        <div class="navigation_section_profile-description-name">{{ currentUser.firstName }} {{ currentUser.lastName }}
                        </div>
                        <div class="navigation_section_profile-description-logout">
                            <a href="/login" onClick="localStorage.removeItem('data');">(logout)</a>
                        </div>
                    </div>
                </div>
                <div class="navigation_section main">
                    <ng-container *ngTemplateOutlet="navigation"></ng-container>
                </div>
            </div>
        </div>
        <div [ngClass]="{loading:isLoading === true}">
            <div class="load-circle"></div>
        </div>
        <router-outlet *ngIf="isLoading !== true"></router-outlet>
        <ng-template #navigation>
            <ng-container *ngTemplateOutlet="currentUser.isAdmin ? adminSites : userSites"></ng-container>
            <ng-template #adminSites>
                <ul>
                    <li *ngFor="let page of pages" [routerLinkActive]="['is-active']">
                        <a routerLink="{{ page.path }}">
                            <i class="material-icons">{{ page.icon }}</i>
                            <p>{{ page.title }}</p>
                        </a>
                    </li>
                </ul>
            </ng-template>
            <ng-template #userSites>
                <ul>
                    <li *ngFor="let page of userPages" [routerLinkActive]="['is-active']">
                        <a routerLink="{{ page.path }}">
                            <i class="material-icons">{{ page.icon }}</i>
                            <p>{{ page.title }}</p>
                        </a>
                    </li>
                </ul>
            </ng-template>
        </ng-template>
    </div>
</ng-container>

<ng-container *ngIf="!currentUser">
    <router-outlet></router-outlet>
</ng-container>